@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');


:root{
 --cor-primaria: #ab49cc;
} 

*{
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}



html {
    scroll-behavior: smooth;
}

.perfil_imagem{
    display:none;
}

.menu_title{
    display: none;
}

.perfil{
    display: none;
}

.menu{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    z-index: 1;
    gap: 50px;
    justify-content: center;
    width: 8%;
    box-shadow: 7px 0px 12px #0a090cac;    
}


.menu_ancora{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;    
    opacity: 0.25;
    padding: 0 7%;
}

.menu_ancora:hover{
    opacity: 1;
}

.menu_icone{
    background-color: var(--cor-primaria);
    
}

.social_media{
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f5f5f505;
    justify-content: center;
    gap: 20px;

}
.menu_ancora_social{
    background-color: #f5f5f505;
}

.menu_icone_social{
    background-color: var(--cor-primaria);
    padding: 0.05%;
    border-radius: 50px;
}

section{
    margin: 1% 0% 3% 3%;
    padding: 8%;
}

.conteudo_h2{
    margin: 15% 0 0 0;
    font-size: 5vw;
}

#conteudo_h3{
    color: var(--cor-primaria);
    font-size: 15vw;
}