@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');


:root{
 --cor-primaria: #ab49cc;
 --cor-secundaria: #fffd85;
} 

*{
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}



html {
    scroll-behavior: smooth;
}

.perfil_imagem{
    visibility: hidden;
}

.menu_title{
    display: none;
}

.perfil{
    background-color: var(--cor-primaria);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: fixed;
    z-index: 1;
    padding: 1%;
    width: 8%;
    box-shadow: 10px 0px 25px #0a090cac;   
}
.menu{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.menu_ancora{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;    
    opacity: 0.25;
}

.menu_ancora:hover{
    opacity: 1;
}

.menu_icone{
    background-color: var(--cor-primaria);
    
}

.social_media{
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f5f5f505;
    justify-content: center;
    gap: 20px;

}
.menu_ancora_social{
    background-color: #f5f5f505;
}

.menu_icone_social{
    background-color: var(--cor-primaria);
    padding: 0.05%;
    border-radius: 50px;
}

section{
    margin: 1% 0% 5% 10%;
    padding: 8%;
}

